<form action="mailto:lesalonparis2@gmail.com" method="get" id="contactForm">
  <input
    hidden
    type="text"
    id="subject"
    name="subject"
    value="Demande d'information"
  />

  <label for="body">Message:</label>
  <textarea name="body" id="body" rows="4" required></textarea>

  <input type="submit" value="Contacter" />
</form>

<script>
  document
    .getElementById("contactForm")
    .addEventListener("submit", function (e) {
      e.preventDefault();
      const form = e.target;
      const subject = form.subject.value;
      const body = form.body.value;
      const action = form.action;

      window.location.href =
        action +
        "?subject=" +
        encodeURIComponent(subject) +
        "&body=" +
        encodeURIComponent(body);
    });
</script>
